<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ .Label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ .Binary }}</string>
        <string>sync</string>
    </array>
    <key>StartInterval</key>
    <integer>{{ .IntervalS }}</integer>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>{{ .StdoutPath }}</string>
    <key>StandardErrorPath</key>
    <string>{{ .StderrPath }}</string>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
